{%extends 'hotel/base.html'%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% load crispy_forms_tags%}
{% block content %}
<div class="container-fluid" style="background-color:pink">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div  style="margin:3px;">
                <div class="panel-body">
                    <button class="btn btn-info"><a href="{% url 'hotel:new-comment' post.id%}"><h5 style="font:18px">Add comment</h5></a></button>
                <h3 class="text-info" style="color:blue">{{post.name}}</h3>
                <hr>
              {{object.post}}
                {% if object.comment_set%}
                  {%for comment in object.comment_set.all %}

                    <hr>
                    <p>{{comment.comment}}</p>
                    <p>{{comment.name}}</p>
                    <p>{{comment.email}}</p>


                  {%endfor%}

                {%endif%}

                 </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}